/* h1 {
    color: blue;
    color: rgb(0, 255, 0);
    color: #00ff00;
} */

body {
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0px;
}

header {
    background-color: #efefef;
    padding: 32px 0px;
}

.container {
    /* background-color: pink; */
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* ↓縦方向に中央揃え */
    align-items: center;
}

/* .icon {
    background-color: skyblue;
} */

.icon img {
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}
.info {
    /* background-color: tomato; */
    margin-left: 30px;
}

.info h1 {
    font-weight:  normal;
    font-size: 24px;
    margin: 0px;
}

.info p {
    margin: 0px;
    margin-bottom: 16px;
}

.info ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /* ↓横並びにする */
    display: flex;
}

.info ul li {
    margin-right: 8px;
}

.works {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* ↓worksの直下の h1 という意味になる */
.works > h1 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top:  60px;
    margin-bottom:  60px;
}

.works > section {
    margin-bottom: 60px;
}

.works > section > h1 {
    font-weight: normal;
}

.works p {
    /* 行間の倍率設定 */
    line-height:  1.8;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    color: gray;
}

footer h1 {
    font-weight: normal;
    text-align: center;

}